body {
    background-color: #f5f5f5;
}

/* .header, .header div, .header h1 {
    border: 1px red solid;
} */
/* h1 {
    margin-bottom: 0.5em;
} */

/* .warp {
    background-image: url(icons/pattern-01.png);
    background-repeat: round;
} */

article {
    /* max-width: 720px; */
    max-width: 800px;
    min-width: 360px;
    background-color: #ffffff;

    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.row_my {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_edit {
    padding-top: 1em;
    min-width: 100%;
    /* height: 70px; */
    height: 160px;
    border: 1px #dbdbdb solid;
}

.edit_row {
    padding-right: 1em;
}

.col-auto_my {
    overflow: hidden;
    flex: 2 1 200px;
}

.col-auto_my textarea {
    max-height: 5em;
}

.block_description{
    font-size: 0.85em;
    min-width: 100%;
}

.block_description ul li div{
    /* border: 1px red solid; */
    padding-left: 1em;
    border-left: 1px lightgrey solid;
}

.list_warp ul li:nth-child(odd) {
    /*background: #f3f3f3;*/
    /*background: #e78383;*/
}

li {
    font-size: 1.1em;
    
}

.list-group-item-strikethrough {
    /* text-decoration: underline; */
    background-color: #eeeeee;
    color: #dbdbdb;
}

sup {
    font-size: 0.5em;
    font-weight: 100;
    color: #b1b1b1;
}

a:link, a:visited, a {
    text-decoration: none;
    color: inherit;
    
}

/* .list_link {
    display:flex;
    border: 1px red solid;
} */

.icons {
    width: 32px;
}

.simbol {
    color: green;
}



@media only screen and (max-width: 600px) {

  }

