article {
    max-width: 720px;
}

.container-my {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.6em;
}

.row_my {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-auto_my {
    overflow: hidden;
    flex: 2 1 200px;
}

.list_warp ul li:nth-child(odd) {
    /*background: #f3f3f3;*/
    /*background: #e78383;*/
}

.list-group-item-strikethrough {
    text-decoration: underline;
    
}

sup {
    font-size: 0.5em;
    font-weight: 100;
    color: #b1b1b1;
}

a:link, a:visited, a {
    text-decoration: none;
}