{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'todo3/main.css' %}">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <title>Todo app</title>
    
    <script>
      function myFunction(url, idx) {
        alert(url+'mark_item/'+idx+'/');
        $(idx).addClass("list-group-item-success"); //!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
        $.post('mark_item/'+idx+'/', function (data, status) {
            alert(url);
            $(this).addClass("list-group-item-success");

        });
      }
    </script>
</head>
<!-- <body class="d-flex justify-content-center"> -->
<body>
    <article class="container-my">
        <h1 class="display-1">Todo<sup>app</sup></h1>

        <form method="post">
            <!-- <div class="row justify-content-md-center"> -->
            <div class="row row_my">
                {% csrf_token %}
                <div class="col-auto_my">
                    {{ form.todoitem }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-4 px-4">Lisätä</button>
                </div>
            </div>
            <span>{{ error }}</span>
        </form>

        <div class="list_warp">
          {% if alltodos %}
            <ul class="list-group">
                {% for el in alltodos %}
                  <a href="{% url 'favorite_item' el.id %}" class="list_link">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-action {{ el.item_class }}" onclick="myFunction(location.href, {{el.id}})" id="{{el.id}}">
                      {{el.todoitem}}
                      <div>
                        <a href="{% url 'done_item' el.id %}"><button class="btn btn-outline-success">✓</button></a>
                        <a href="{% url 'remove_item' el.id %}"><button class="btn btn-outline-secondary">Edit</button></a>
                        <a href="{% url 'remove_item' el.id %}"><button class="btn btn-outline-danger">Poistaa</button></a>
                      </div>
                    </li>
                  </a>
                {% endfor %}
            </ul>
          {% else %}
        </div>
        
            <ul class="list-group">
                <li class="list-group-item p-3">
                    Ei ole tehhtäviä    
                </li>
            </ul>
        {% endif %}
        
        <!-- <form class="row gy-2 gx-3 align-items-center">
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInput">Name</label>
              <input type="text" class="form-control" id="autoSizingInput" placeholder="Jane Doe">
            </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
              <div class="input-group">
                <div class="input-group-text">@</div>
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Username">
              </div>
            </div>
            <div class="col-auto">
              <label class="visually-hidden" for="autoSizingSelect">Preference</label>
              <select class="form-select" id="autoSizingSelect">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-auto">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                  Remember me
                </label>
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form> -->
    </article>
</body>
</html>

